name: Update GitHub pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: kuhnroyal/flutter-fvm-config-action/setup@v3

      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          customArgs: >-
            --target lib/main_production.dart
            --dart-define
